<div class="container">
    <div style="text-align: center;">
      <br>
    <h1>Lista de mayores Vendedores que registraron el mayor numero de productos en el mes de Noviembre</h1>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.nomVendedor}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element?.cantidad}} </td>
      </ng-container>
   
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
   
    
    